<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
  <display-name>BMIControler</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>

  <security-constraint>
    <web-resource-collection>
      <web-resource-name>HtmlAuth</web-resource-name>
      <description>application security constraints</description>
      <url-pattern>/add-question</url-pattern>
      <url-pattern>/admin-panel.jsp</url-pattern>
      <url-pattern>/add-answer.jsp</url-pattern>
      <url-pattern>/add-answers.jsp</url-pattern>
      <url-pattern>/add-user.jsp</url-pattern>
      <url-pattern>/add-user</url-pattern>
      <url-pattern>/show-all-question</url-pattern>
      <url-pattern>/question.jsp</url-pattern>
      <url-pattern>/questions</url-pattern>
      <url-pattern>/file-upload.jsp</url-pattern>
      <url-pattern>/phrase-finder.jsp</url-pattern>
      <url-pattern>/allegro-categories</url-pattern>
      <url-pattern>/reports</url-pattern>
      <http-method>GET</http-method>
      <http-method>POST</http-method>
    </web-resource-collection>
    <auth-constraint>
      <role-name>admin</role-name>
    </auth-constraint>
  </security-constraint>

  <login-config>
    <auth-method>FORM</auth-method>
    <form-login-config>
      <form-login-page>/login.jsp</form-login-page>
      <form-error-page>/index.jsp</form-error-page>
    </form-login-config>
  </login-config>
  <security-role>
    <role-name>admin</role-name>
  </security-role>
  <jsp-config>
    <jsp-property-group>
      <url-pattern>*.jsp</url-pattern>
      <page-encoding>UTF-8</page-encoding>
    </jsp-property-group>
  </jsp-config>
</web-app>